streamlit
pymongo
google-cloud-storage
tqdm
Pillow
pandas 
google-genai 
sentence-transformers 
PyMuPDF 
tenacity
google-generativeai
langchain-google-genai
langchain-community 
arxiv 
pymupdf
tavily-python
langchain-tavily

